In this ipython notebook we scrape tweets by employing various searching modes depending on the use-case at hand, e.g., scrape tweets from a particular user, scrape followers' information etc. 

We use the OSINT scrapper `Twint` in a Pythonic way. Check out [Twint's Github page](https://github.com/twintproject/twint) for more details. 

For configuration options of Twint see [here](https://github.com/twintproject/twint/wiki/Configuration).

### 1 - Installs and imports

In [1]:
!pip3 install --upgrade -e git+https://github.com/twintproject/twint.git@origin/master#egg=twint

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Obtaining twint from git+https://github.com/twintproject/twint.git@origin/master#egg=twint
  Cloning https://github.com/twintproject/twint.git (to revision origin/master) to ./src/twint
  Running command git clone -q https://github.com/twintproject/twint.git /content/src/twint
  WARNING: Did not find branch or tag 'origin/master', assuming revision or ref.
  Running command git checkout -q origin/master
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from twint) (3.8.1)
Collecting aiodns
  Downloading aiodns-3.0.0-py3-none-any.whl (5.0 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from twint) (4.6.3)
Collecting cchardet
  Downloading cchardet-2.1.7-cp37-cp37m-manylinux2010_x86_64.whl (263 kB)
     |████████████████████████████████| 263 kB 29.3 MB/s
Collecting dataclasses
  Downloading dataclasses-0.6-py3-none-any.whl (14 kB)
Collecting elasticsearch
  Downloading elasticsearch-8.3.3-py3-none-any.whl (382 kB)
     |████████████████████████████████| 382 kB 58.4 MB/s
Requirement already satisfied: pysocks in /usr/local/lib/python3.7/dist-packages (from twint) (1.7.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from twint) (1.3.5)
Collecting aiohttp_socks
  Downloading aiohttp_socks-0.7.1-py3-none-any.whl (9.3 kB)
Collecting schedule
  Downloading schedule-1.1.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (from twint) (1.17.0)
Collecting fake-useragent
  Downloading fake-useragent-0.1.11.tar.gz (13 kB)
Collecting googletransx
  Downloading googletransx-2.4.2.tar.gz (13 kB)
Collecting pycares>=4.0.0
  Downloading pycares-4.2.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (291 kB)
     |████████████████████████████████| 291 kB 43.4 MB/s
Requirement already satisfied: cffi>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pycares>=4.0.0->aiodns->twint) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.5.0->pycares>=4.0.0->aiodns->twint) (2.21)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (1.7.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (1.2.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (0.13.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (1.3.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (2.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (6.0.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (4.1.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (22.1.0)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->twint) (2.10)
Collecting python-socks[asyncio]<3.0.0,>=2.0.0
  Downloading python_socks-2.0.3-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 2.6 MB/s
Collecting elastic-transport<9,>=8
  Downloading elastic_transport-8.1.2-py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 5.7 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from elastic-transport<9,>=8->elasticsearch->twint) (2022.6.15)
Collecting urllib3<2,>=1.26.2
  Downloading urllib3-1.26.11-py2.py3-none-any.whl (139 kB)
     |████████████████████████████████| 139 kB 47.8 MB/s
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy->twint) (1.52)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from googletransx->twint) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->twint) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->twint) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->twint) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->twint) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->googletransx->twint) (3.0.4)
Collecting requests
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.5 MB/s
Building wheels for collected packages: fake-useragent, googletransx
  Building wheel for fake-useragent (setup.py) ... done
  Created wheel for fake-useragent: filename=fake_useragent-0.1.11-py3-none-any.whl size=13502 sha256=830192955d65c222a5f60da0f0b1920cb368505fec4a14d1d36af82bed51c06a
  Stored in directory: /root/.cache/pip/wheels/ed/f7/62/50ab6c9a0b5567267ab76a9daa9d06315704209b2c5d032031
  Building wheel for googletransx (setup.py) ... done
  Created wheel for googletransx: filename=googletransx-2.4.2-py3-none-any.whl size=15968 sha256=47ec937b69d0df4cc110b394b8edeebbb482d4e3bd0f81de069e4ca459f0a8bf
  Stored in directory: /root/.cache/pip/wheels/66/d5/b1/31104b338f7fd45aa8f7d22587765db06773b13df48a89735f
Successfully built fake-useragent googletransx
Installing collected packages: urllib3, python-socks, requests, pycares, elastic-transport, schedule, googletransx, fake-useragent, elasticsearch, dataclasses, cchardet, aiohttp-socks, aiodns, twint
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Running setup.py develop for twint
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
Successfully installed aiodns-3.0.0 aiohttp-socks-0.7.1 cchardet-2.1.7 dataclasses-0.6 elastic-transport-8.1.2 elasticsearch-8.3.3 fake-useragent-0.1.11 googletransx-2.4.2 pycares-4.2.1 python-socks-2.0.3 requests-2.28.1 schedule-1.1.0 twint-2.1.21 urllib3-1.26.11

In [2]:
!pip install nest_asyncio

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nest_asyncio in /usr/local/lib/python3.7/dist-packages (1.5.5)

**RESTART RUNTIME**

In [1]:
import twint
import pandas as pd
import nest_asyncio
from collections import Counter

In [2]:
nest_asyncio.apply()

### 2 -  Declare parameters to acquire tweets/account info

In [24]:
# provide username
username = 'narendramodi' #'larrouturou'

# provide keyword or search string
keyword = 'zubair'

# provide conversation id for which we want to scrape the replies
conversation_id = '1553932362123452416'

# provide the number of most recent tweets you want to scrape
N = 1000

# provide the beginning date ( '%Y-%m-%d %H:%M:%S' format)
since_date = '2022-06-25 00:00:00'

# provide the end date
until_date = '2022-06-30 00:00:00'

### 3 - Scrape tweets from a Twitter acccount

In [25]:
def get_tweets (user_name, num, since_date, until_date):
    print ("======================================")
    print(":: Acquiring tweets of", user_name, "::")
    print ("======================================")

    # Configure
    c = twint.Config()
    c.Username = user_name

    c.Since = since_date
    c.Until = until_date
    c.Limit = num

    c.Store_object =  True
    c.User_full = True
    c.Profile_full = True
    c.Hide_output = True

    c.Pandas = True
    twint.run.Search(c)

    return pd.DataFrame(twint.storage.panda.Tweets_df)

In [26]:
output  = get_tweets (user_name=username, num=N, since_date=since_date, until_date=until_date)
output.head()

======================================
:: Acquiring tweets of narendramodi ::
======================================
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1542162870812790794,1542162870812790794,1.656515e+12,2022-06-29 15:07:35,+0000,,"At 10:30 AM tomorrow, 30th June, will be takin...",en,[],[],...,,,,,,[],,,,
1,1542162387767332869,1542162387767332869,1.656515e+12,2022-06-29 15:05:39,+0000,,"During this month’s #MannKiBaat, we covered di...",en,[mannkibaat],[],...,,,,,,[],,,,
2,1542162172976971776,1542162172976971776,1.656515e+12,2022-06-29 15:04:48,+0000,,Glad to see interest in the PM Sangrahalaya. I...,en,[],[],...,,,,,,[],,,,
3,1542161800430493697,1542161800430493697,1.656515e+12,2022-06-29 15:03:19,+0000,,Today’s Cabinet decision on computerization of...,en,[],[],...,,,,,,[],,,,
4,1541788005748584449,1541788005748584449,1.656426e+12,2022-06-28 14:18:00,+0000,,كان الشيخ خليفة بن زايد آل نهيان رجل دولة يحظى...,ar,[],[],...,,,,,,[],,,,

### 4 - Scrape the account details of an user

In [27]:
def get_account_info (user_name):
    print ("===========================================")
    print(":: Scrapping account info of", user_name, "::")
    print ("===========================================")

    # Configure
    c = twint.Config()
    c.Username = user_name

    c.Store_object =  True
    c.User_full = True
    c.Profile_full = True
    c.Hide_output = True

    c.Pandas = True
    twint.run.Lookup(c)

    return pd.DataFrame(twint.storage.panda.User_df)

In [28]:
result  = get_account_info (user_name=username)
result.head()

===========================================
:: Scrapping account info of narendramodi ::
===========================================

,id,name,username,bio,url,join_datetime,join_date,join_time,tweets,location,following,followers,likes,media,private,verified,avatar,background_image
0,18839785,Narendra Modi,narendramodi,Prime Minister of India,https://t.co/m2qxixtyKj,2009-01-10 17:18:56 UTC,2009-01-10,17:18:56 UTC,33611,India,2437,81275202,0,10998,False,True,https://pbs.twimg.com/profile_images/155429501...,https://pbs.twimg.com/profile_banners/18839785...

### 5 - Scrape tweets using a keyword

In [29]:
def get_all_tweets (keyword, num, since_date, until_date):
    print ("==============================================")
    print(":: Acquiring tweets with keyword", keyword, "::")
    print ("==============================================")

    # Configure
    c = twint.Config()
    c.Search = keyword


    c.Since = since_date
    c.Until = until_date

    c.Limit = num

    #c.Lang = 'nl'
    #c.Translate = True 
    #c.TranslateDest = "en"

    c.Store_object =  True
    c.User_full = True
    c.Profile_full = True
    c.Hide_output = True

    c.Pandas = True
    twint.run.Search(c)

    return pd.DataFrame(twint.storage.panda.Tweets_df)

In [30]:
result  = get_all_tweets (keyword=keyword, num=N, since_date=since_date, until_date=until_date)
result.head()

==============================================
:: Acquiring tweets with keyword zubair ::
==============================================

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1542296760806060035,1541673228254552066,1.656547e+12,2022-06-29 23:59:36,+0000,,@AminaaKausar @zoo_bear Inshallah,in,[],[],...,,,,,,"[{'screen_name': 'AminaaKausar', 'name': 'أمين...",,,,
1,1542296375681028096,1542080777881456641,1.656547e+12,2022-06-29 23:58:05,+0000,,@KhalidBaig85 @thehawkeyex @zoo_bear It is sus...,en,[],[],...,,,,,,"[{'screen_name': 'KhalidBaig85', 'name': 'Khal...",,,,
2,1542296164661329921,1542296164661329921,1.656547e+12,2022-06-29 23:57:14,+0000,,मोहम्मद ज़ुबैर और नुपुर शर्मा पर FIR में एक सी...,hi,[istandwithzubair],[],...,,,,,,[],,,,
3,1542296152992690177,1542296152992690177,1.656547e+12,2022-06-29 23:57:12,+0000,,Release @zoo_bear #ReleaseZubair,en,[releasezubair],[],...,,,,,,[],,,,
4,1542295829993533441,1542049884471119873,1.656547e+12,2022-06-29 23:55:54,+0000,,@ARanganathan72 आज ठंडक पड़ गयी होगी तुम्हारी ...,hi,[],[],...,,,,,,"[{'screen_name': 'ARanganathan72', 'name': 'An...",,,,

### 6 - Scrape replies to a tweet

In [19]:
def get_replies (user_name, conversation_id, num, since_date, until_date):
    print ("=======================================================")
    print(":: Acquiring tweet replies to ", conversation_id, "::")
    print ("=======================================================")

    # configure replies call
    replies = twint.Config()
    replies.Since = since_date
    replies.Until = until_date
    replies.Limit = num
    replies.To = user_name

    replies.Store_object =  True
    replies.User_full = True
    replies.Profile_full = True
    replies.Hide_output = True

    replies.Pandas = True
    twint.run.Search(replies)
    df = twint.storage.panda.Tweets_df

    df = df [df ['conversation_id'] == conversation_id]

    return pd.DataFrame(df)

In [20]:
replies = get_replies (user_name=username, conversation_id=conversation_id, num=N, since_date=since_date, until_date=until_date)

replies.head()

=======================================================
:: Acquiring tweet replies to  1553932362123452416 ::
=======================================================

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
46,1554406705429037058,1553932362123452416,1.659434e+12,2022-08-02 10:00:12,+0000,,@narendramodi Jay modi sir 🙏❤️🙏,ht,[],[],...,,,,,,"[{'screen_name': 'narendramodi', 'name': 'Nare...",,,,
1008,1554362168568467456,1553932362123452416,1.659424e+12,2022-08-02 07:03:14,+0000,,@narendramodi ये हैं नमो का नया भारत 💪💪,hi,[],[],...,,,,,,"[{'screen_name': 'narendramodi', 'name': 'Nare...",,,,
1045,1554360645046644741,1553932362123452416,1.659423e+12,2022-08-02 06:57:11,+0000,,@narendramodi Shri Modiji has spoken to the At...,en,[],[],...,,,,,,"[{'screen_name': 'narendramodi', 'name': 'Nare...",,,,
1179,1554353664730746880,1553932362123452416,1.659422e+12,2022-08-02 06:29:26,+0000,,@narendramodi Sir kendriya vidyalay me piche ...,hi,[],[],...,,,,,,"[{'screen_name': 'narendramodi', 'name': 'Nare...",,,,
1964,1554325096134627329,1553932362123452416,1.659415e+12,2022-08-02 04:35:55,+0000,,@narendramodi @smritiirani Indeed it gives imm...,en,[],[],...,,,,,,"[{'screen_name': 'narendramodi', 'name': 'Nare...",,,,